STORE_CORS=/http:\/\/localhost:51\d{2}$/,http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=/http:\/\/localhost:51\d{2}$/,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=/http:\/\/localhost:51\d{2}$/,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=replace_with_a_minimum_32_character_random_secret
COOKIE_SECRET=replace_with_a_minimum_32_character_random_secret
DATABASE_URL=
DB_NAME=medusa-v2
GA4_MEASUREMENT_ID=
GA4_API_SECRET=
GA4_DEBUG=false
